@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}
<div class="container">
	<header class="jumbotron">
	<h1>You Shal Not Pass!!</h1>
		</header>
</div>	