@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

<div id="container">
		<section class="container">	
		@if (!Members.GetCurrentLoginStatus().IsLoggedIn)


		{  @Umbraco.RenderMacro("LoginForm")  }


		else 
		
		{  @Umbraco.RenderMacro("Logout") }

    </section> <!-- #content -->
</div> <!-- #container -->