@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "master.cshtml";
}

<div id="container">
    <div class="container">
		

	@Umbraco.RenderMacro("Members")

    </div> <!-- #container -->
</div> <!-- #container -->